<div class="container">


  <form [formGroup]="form" >
    <app-dropdown formControlName="combo" style="margin: 10px">
      <app-card appComboEntity></app-card>
      <app-deposit appComboEntity></app-deposit>
      <app-loan appComboEntity></app-loan>
      <!--    <app-search-input appComboEntity></app-search-input>-->
    </app-dropdown>


<!--    <app-dropdown formControlName="combo2" style="margin: 10px">-->
<!--      <app-card appComboEntity></app-card>-->
<!--      <app-loan appComboEntity></app-loan>-->
<!--    </app-dropdown>-->
  </form>
</div>


