* {
}
.selected {
  border: 5px solid springgreen !important;
  box-shadow: 1px 1px 6px -1px green;
}
.deposit {
  background-color: chocolate;
  color: white;
  user-select: none;
  padding: 6px;
  cursor: pointer;
  border: 1px solid rgb(128, 128, 128, 0.9);
  border-radius: 6px;
  margin-bottom: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 8px;
  div {
    flex: 40%   ;
  }
}
